<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/bootstrap.css" />
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Footer</title>
  </head>

  <body>
    <footer class="myblock myblock--dark myfooter">
      <div class="mycontainer mygrid myfooter__sections">
        <section class="collapsible collapsible--expanded myfooter__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading myfooter__heading">Personas</h2>
            <span class="icon-container collapsible__chevron">
              <svg class="icon icon--primary">
                <use frexlink:href="../IMG/sprite3.svg#chevron-down"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a>Beneficios</a></li>
              <li><a>Enviar y recibir dinero</a></li>
              <li><a>Pagos</a></li>
              <li><a>Segmentos</a></li>
              <li><a>Canales</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible myfooter__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading myfooter__heading">Te puede interesar</h2>
            <span class="icon-container collapsible__chevron">
              <svg class="icon icon--primary">
                <use xlink:href="../IMG/sprite3.svg#chevron-down"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a>Educación Financiera</a></li>
              <li><a>Información Legal Colombia</a></li>
              <li><a>Condiciones de uso</a></li>
              <li><a>Venta de usados</a></li>
              <li><a>Tarifario</a></li>
              <li><a>Grupo Tu Banco</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible myfooter__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading myfooter__heading">Contáctanos</h2>
            <span class="icon-container collapsible__chevron">
              <svg class="icon icon--primary">
                <use xlink:href="../IMG/sprite3.svg#chevron-down"></use>
              </svg>
            </span>
          </header>
          <div class="collapsible__content">
            <p>Carrera 22 # 34 - 75 Medellín – Colombia</p>
            <br />
            <p>
              (57 1) 393 09 02 Medellín (57 4) 734 90 67 Cali (57 2) 396 05 60 Cartagena (57 7) 691
              25 25
            </p>
          </div>
        </section>

        <section class="myfooter__brand">
          <img src="../IMG/Bank_logo_final.png" alt="" />
          <p class="myfooter__copyright">Copyright 2021 Alvaro Celis</p>
        </section>
      </div>
    </footer>

    <script src="../JS/main.js"></script>
  </body>

  <script src="../JS/vue.js"></script>
  <script src="../JS/app.js"></script>
</html>
