<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/bootstrap.css" />
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Tipografia</title>
  </head>

  <body>
    <h1>Ejemplos de Tipografia</h1>
    <h2>Ejemplos de Tipografia</h2>
    <h3>Ejemplos de Tipografia</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime id at ex ea? Numquam, vero
      nesciunt eos obcaecati reiciendis asperiores ipsam provident officiis architecto, magni ab
      repellendus atque nam distinctio, sequi cupiditate veritatis necessitatibus aut quas aliquam
      maiores? Fuga tenetur officiis blanditiis in, accusamus vero totam dolorum iure magni expedita
      quam autem minima perferendis asperiores voluptas dolores quidem amet optio consectetur omnis
      officia at! Similique ipsa, numquam exercitationem cumque corrupti odio doloremque libero
      deserunt ipsum quas alias atque iusto impedit natus saepe minus facere, unde explicabo nostrum
      nihil vitae quaerat, quam voluptatibus! Ea error, nemo laudantium minus tenetur laboriosam
      quidem.
    </p>
  </body>

  <script src="../JS/vue.js"></script>
  <script src="../JS/app.js"></script>
</html>
